{% extends "base.html" %}
{% load static %}
{% block content1 %} 

<div class="row my-5">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="{% static 'images/aboutpic.PNG' %}" alt="imange" class="about_image">
    </div>
    <div class="col-7 text-left text-light">
        <h2> Hello !<h2>
        <p class="fs-5">
            An aspiring software developer currently pursuing a Master’s degree in Computer Science and Engineering, with a strong foundation in programming and web development. Proficient in Java, Python, Django Framework, SQL, HTML, and CSS, with practical experience in creating web applications such as a CGPA Calculator and a Professional Portfolio.
        </p>
        <p class="fs-5">
            The career goal is to join a dynamic organization to leverage academic knowledge, engage in innovative projects, and contribute to both personal and organizational growth. Known for strong problem-solving abilities, effective communication skills, and a commitment to continuous learning and improvement.
        </p>
        
        </div>
        
    </div>
    <div class="row my-2">
        <h2 class="text-center" style="color:#4fffb0"> My Tech Stack </h2>
        <div class="d-flex justify-content-around align-items-center">
            <img src="{% static 'images/pythonlogo.jpg' %}" alt="python" width="70" height="70" class="img_fluid">
            <img src="{% static 'images/djangologo.png' %}" alt="djano" width="70" height="70" class="img_fluid">
            <img src="{% static 'images/html.png' %}" alt="html" width="70" height="70" class="img_fluid">
            <img src="{% static 'images/css.png' %}" alt="css" width="70" height="70" class="img_fluid">
            <img src="{% static 'images/sql.png' %}" alt="sql" width="70" height="70" class="img_fluid">
            <img src="{% static 'images/java.png' %}" alt="java" width="70" height="70" class="img_fluid">
            <img src="{% static 'images/c.png' %}" alt="c" width="70" height="70" class="img_fluid">
        </div>
</div>

{% endblock content1 %}