{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="style.css">
{% block content1 %} 

<div class="row my-2">
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> Python </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> Django </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> SQL </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> HTML </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> CSS </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> Java </h1>
    </div>
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4"> C </h1>
    </div>
</div>

{% endblock content1 %}
